services:
  - type: web
    name: ammar-db-test
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python app.py"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: telegram-bot-db
          property: connectionString

# لاحظ: لا نضيف قسم databases لأن القاعدة موجودة مسبقاً
